.top-nav-banner{
    background: linear-gradient(#e66465, #9198e5);
}
.logo-nav{
    padding: 5px 0;
}
.nav-logo{
    width:300px;
}
.custom-nav-link a{
    margin:0 13px;
    font-size: 18px;
    font-weight: 500;
    color: #fff !important;
}

.custom-nav-link a:last-child{
    margin-right: 0px !important;
}
.right-banner img{
    width:400px
}
.slogan-1{
    font-size: 49px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.slogan-2{
    color:#130f40;
    font-size: 49px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 75px;
}
.custom-button{
    background: #130f40;
    color:#fff;
    font-size: 22px;
}
.custom-button:hover{
    background-color:#FD5B03;
    transition: 0.6s;
    color:#fff;
}

.customimage{
    width:300px;
    height: 350px;
    margin: 0 auto;
}
.customcard{
    border:0;
}
.customfotter{
    border: 0;
    background: #fff;
}
.service{
    padding:10px 5px;
}
.serviceimg{
    width:70px;
    height: 80px;
}
.servicerightimg{
    width:400px;
    height: 350px;
    margin-top: 20px;

}
.serviceright{
    margin: 0 auto;
    border: 1px solid red;
}